@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Text:wght@200..700&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Zalando Sans Expanded", sans-serif;   
}
body,html{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(165, 163, 163, 0.49));
}
#container{
    width: 600px;
    border-radius: 10px;
    border: 1px solid black;
    position: absolute;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.image{
    background-image: url(../imagens/background.jpg);
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center bottom;
}

h1{
    padding: 20px;
    text-align: center;
    color: rgba(16, 14, 14, 0.696);
    font-size: 2.6em;
}
p{
    text-align: justify;
    width: 600px;
    text-align: center;
    color: aliceblue;
    margin-bottom: 30px;
}